<a href="https://colab.research.google.com/github/Markaoo/Markaoo/blob/main/Data%20Science2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
###-A leitura do tamanho da lista -A leitura do maior e menor valor -A soma dos valores da lista###
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
tamanho = len(lista)
maior = max(lista)
menor = min(lista)
soma = sum(lista)
print(f'''O tamanho da lista corresponde a {tamanho}, o maior valor é o {maior} e o menor é o {menor}.
A soma dos elementos da lista corresponde a {soma}.''')

O tamanho da lista corresponde a 17, o maior valor é o 99 e o menor é o 11.
A soma dos elementos da lista corresponde a 743.

In [ ]:
#Escreva uma função que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária.
def tabuada(a):
  cont = 1
  while cont <= 10:
    print(f'{a} x {cont} = {cont * a}')
    cont += 1
numero = int(input('Digite um número que lhe mostrarei a tabuada: '))
tabuada(numero)

Digite um número que lhe mostrarei a tabuada: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
#Escreva uma função que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Agora usarei lambda
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numero = int(input('Digite um número: '))

tabuada = list((map(lambda x: (x * numero), lista)))
for _ in range(len(lista)):
  print(f'{numero} x {lista[_]} = {tabuada[_]}')

Digite um número: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#Crie a função que leia a lista abaixo e retorne uma nova lista com os múltiplos de 3:
lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

def m3(list):
  multi_3 = []
  for a in list:
    if a % 3 == 0:
      multi_3.append(a)
  return multi_3

m3(lista)

[24, 99]

In [ ]:
#Crie a função que leia a lista abaixo e retorne uma nova lista com os múltiplos de 3. Usando lambda

lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

m3 = list((filter(lambda x:(x % 3 == 0), lista))) #função filter retorna o numero que resultou como true em boleano, me mostrando o numero certo
m3

[24, 99]

In [ ]:
# Você foi contratado(a) como cientista de dados de uma associação de skate. Para analisar as notas recebidas de skatistas em algumas competições ao longo do ano, você precisa criar um código que calcula a pontuação dos(as) atletas. Para isso, o seu código deve receber 5 notas digitadas pelas pessoas juradas.
#Para calcular a pontuação de um(a) skatista, você precisa eliminar a maior e a menor pontuação dentre as 5 notas e tirar a média das 3 notas que sobraram. Retorne a média para apresentar o texto:
#"Nota da manobra: [media]"

notas = []
for a in range(5):
  n = int(input(f'Digite a nota {a+1}: '))
  notas.append(n)
print(notas)
def calculo(lista):
  lista.remove(max(notas))
  lista.remove(min(notas))
  media = sum(lista) / len(lista)
  nota = f'A nota da manobra é: {round(media, 2)}'

  return nota

calculo(notas)

Digite a nota 1: 7
Digite a nota 2: 5
Digite a nota 3: 10
Digite a nota 4: 1
Digite a nota 5: 5
[7, 5, 10, 1, 5]

'A nota da manobra é: 5.67'

In [ ]:
#Para atender a uma demanda de uma instituição de ensino para a análise do desempenho de seus(suas) estudantes, você precisa criar uma função que receba uma lista de 4 notas e retorne:
#maior nota
#menor nota
#média
#situação (Aprovado(a) ou Reprovado(a))

def boletim(lista):
  if sum(lista) / len(lista) >= 7:
    situacao = 'APROVADO'
  else:
    situacao = 'REPROVADO'

  return f'O(a) estudante obteve uma média de {sum(lista) / len(lista)}, com a sua maior nota de {max(lista)} pontos e a menor nota de {min(lista)} pontos e foi {situacao}'

notas = [8, 9, 2, 5]
boletim(notas)

'O(a) estudante obteve uma média de 6.0, com a sua maior nota de 9 pontos e a menor nota de 2 pontos e foi REPROVADO'

In [ ]:
#Você recebeu uma demanda para tratar 2 listas com os nomes e sobrenomes de cada estudante concatenando-as para apresentar seus nomes completos na forma Nome Sobrenome. As listas são:

nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]

nome_completo = list(map(lambda nome, sobrenome:(f'Nome completo: {nome.capitalize()} {sobrenome.capitalize()}'), nomes, sobrenomes)) #usei o capitalize para deixar as palavras apenas com a primeira letra maiuscula.

for a in nome_completo:
  print(a)

Nome completo: João Silva
Nome completo: Maria Souza
Nome completo: José Tavares

In [ ]:
#
def calcula_pontos(gm, gs):
  pontos = 0
  for a in range(len(gm)):
    if gm[a] > gs[a]:
      pontos += 3
    if gm[a] == gs[a]:
      pontos += 1
  aproveitamento = round((pontos / (len(gm)*3)) * 100, 2)

  return f'A pontuação do time foi de {pontos} pontos e seu aproveitamento foi de {aproveitamento}%'


gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]

calcula_pontos(gols_marcados, gols_sofridos)

'A pontuação do time foi de 7 pontos e seu aproveitamento foi de 46.67%'

In [ ]:
frase = input('Digite uma frase: ')
frase = frase.replace(',',' ').replace('.',' ').replace('!',' ').replace('?',' ').split()
print(frase)
lista = list(filter(lambda palavra: len(palavra) >= 5, frase))
lista

Digite uma frase: Aprender Python aqui na Alura é muito bom
['Aprender', 'Python', 'aqui', 'na', 'Alura', 'é', 'muito', 'bom']

['Aprender', 'Python', 'Alura', 'muito']